<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link shorter</title>
</head>
<body>
<table>
    <tr>
        <th>Link</th>
        <th>Forward to</th>
    </tr>
    <tr th:each="link : ${links}">
        <td><a th:href="@{/r/{name}(name=${link.req})}" th:text="${baseUrl} + 'r/' + ${link.req}"></a></td>
        <td><a th:href="${link.forwardingUrl}" th:text="${link.forwardingUrl}"></a></td>
    </tr>
</table>
<div>
    <span th:each="n : ${ #numbers.sequence(0, pages - 1) }">
        <a th:href="@{/list(page=${n})}" th:text="${n + 1}"></a>
    </span>
</div>
</body>
</html>